@keyframes Brake {
    0%  {
        transform: translateX(95%);
    }
    40% {
        transform: translateX(-10%);
    }
    60% {
        transform: translateX(5%);
    }
    74% {
        transform: translateX(-3%);
    }
    85% {
        transform: translateX(2%);
    }
    94% {
        transform: translateX(-1%);
    }
    100%{
        transform: translateX(0%);
    }
}

@-webkit-keyframes Brake {
    0%  {
        transform: translateX(95%);
    }
    40% {
        transform: translateX(-10%);
    }
    60% {
        transform: translateX(5%);
    }
    74% {
        transform: translateX(-3%);
    }
    85% {
        transform: translateX(2%);
    }
    94% {
        transform: translateX(-1%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes Brake-inverse {
    0%  {
        transform: translateX(-95%);
    }
    40% {
        transform: translateX(10%);
    }
    60% {
        transform: translateX(-5%);
    }
    74% {
        transform: translateX(3%);
    }
    85% {
        transform: translateX(-2%);
    }
    94% {
        transform: translateX(1%);
    }
    100%{
        transform: translateX(0%);
    }
}

@-webkit-keyframes Brake-inverse {
    0%  {
        transform: translateX(-95%);
    }
    40% {
        transform: translateX(10%);
    }
    60% {
        transform: translateX(-5%);
    }
    74% {
        transform: translateX(3%);
    }
    85% {
        transform: translateX(-2%);
    }
    94% {
        transform: translateX(1%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(95%);
    }
    to {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-from-right {
    from {
        transform: translateX(95%);
    }
    to {
        transform: translateX(0%);
    }
 }

@keyframes slide-from-left {
    from {
        transform: translateX(-95%);
    }
    to {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-from-left {
    from {
        transform: translateX(-95%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes elasticity {
    0%  {
        transform: scale(1,1);
    }
    30% {
        transform: scale(1.2,1.2);
    }
    56% {
        transform: scale(0.85,0.85);
    }
    70% {
        transform: scale(1.1,1.1);
    }
    83% {
        transform: scale(0.93,0.93);
    }
    100%{
        transform: translateX(0%);
    }
}

@-webkit-keyframes elasticity {
    0%  {
        transform: scale(1,1);
    }
    30% {
        transform: scale(1.2,1.2);
    }
    56% {
        transform: scale(0.85,0.85);
    }
    70% {
        transform: scale(1.1,1.1);
    }
    83% {
        transform: scale(0.93,0.93);
    }
    100%{
        transform: translateX(0%);
    }
 }

@keyframes larger {
    from {
        transform: scale(0,0);
    }
    to {
        transform: scale(1,1);
    }
}

@-webkit-keyframes larger {
    from {
        transform: scale(0,0);
    }
    to {
        transform: scale(1,1);
    }
}

@keyframes slide-from-top {
     from {
         transform: translateY(-95%);
     }
     to {
         transform: translateY(0%);
     }
 }

@-webkit-keyframes slide-from-top {
    from {
        transform: translateY(-95%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes transparent-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes transparent-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-from-bottom {
    from {
        transform: translateY(95%);
    }
    to {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide-from-bottom {
    from {
        transform: translateY(95%);
    }
    to {
        transform: translateY(0%);
    }
}



html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animation-contain {
    width: 100%;
    height: 100%;
}

.display-background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.display-title {
    width: 100%;
    height: auto;
    text-align: center;
}

.display-title-img {
    width: 100%;
    height: auto;
    text-align: center;
}

.display-title-img img {
    max-width: 70%;
    border-radius: 20px;
}

/*哈哈哈哈 very very high*/
.display-title-very-high {
    position: absolute;
    top: 5%;
}

.display-title-up {
    position: absolute;
    top: 10%;
}

.display-title-center-up-x4 {
    position: absolute;
    top: 15%;
}

.display-title-center {
    position: absolute;
    top: 50%;
}

.display-title-center-down {
    position: absolute;
    top: 58%;
}

.display-title-down {
    position: absolute;
    top: 80%;
}

.display-title-center-down-x4 {
    position: absolute;
    top: 60%;
}

.display-title-align-right {
    display: inline-block;
    width: 95%;
    text-align: right;
    margin-right: 5%;
}

.display-title-align-left {
    display: inline-block;
    width: 95%;
    text-align: left;
    margin-left: 5%;
}

.display-title-align-center {
    text-align: center;
}

.display-title-background {
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    display: inline-block;
    background-color: rgba(20,20,20,0.5);
}

.title-context-max-width {
    max-width: 90%;
    word-break: break-all;
}

.title-font-large {
    font-size: 220%;
}

.title-font-middle {
    font-size: 160%;
}

.title-font-middle-small {
    font-size: 120%;
}

.title-font-normal {
    font-size: 100%;
}

.title-font-small {
    font-size: 90%;
}

.title-font-white {
    color: white;
}

.title-font-bold {
    font-weight: 600;
}

.animation-brake {
    -webkit-animation: Brake;
    -o-animation: Brake;
    animation: Brake;
}

.animation-brake-inverse {
    -webkit-animation: Brake-inverse;
    -o-animation: Brake-inverse;
    animation: Brake-inverse;
}

.animation-slide-from-right {
    -webkit-animation: slide-from-right;
    animation: slide-from-right;
}

.animation-slide-from-left {
    -webkit-animation: slide-from-left;
    animation: slide-from-left;
}

.animation-slide-from-top {
    -webkit-animation: slide-from-top;
    animation: slide-from-top;
}

.animation-slide-from-bottom {
    -webkit-animation: slide-from-bottom;
    animation: slide-from-bottom;
}

.animation-elasticity {
    -webkit-animation: elasticity;
    animation: elasticity;
}

.animation-larger {
    -webkit-animation: larger;
    animation: larger;
}

.animation-transparent-up {
    -webkit-animation: transparent-up;
    animation: transparent-up;
}


.animation-play-middle {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.animation-play-fast {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.animation-play-middle-fast {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

.animation-play-slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}


.template-change-animation {
    height: 100%;
    width: 100%;
    position: absolute;
}

.template-change-animation>div {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    box-shadow: 0 0 10px #000000;
}

.template-change-cover {
    z-index: 0;
}

.template-change-covered {
    z-index: -1;
}

.animative {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}