<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>template Animation demo</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
    <!--
    <div class="animation-contain">
        <img class="display-background-img" src="http://img5.duitang.com/uploads/item/201112/19/20111219083341_2P55n.thumb.700_0.jpg">
        <div class="display-title display-title-up display-title-align-right">
            <p class="animation-slide-from-right animation-play-fast display-title-background title-font-bold title-font-large title-font-white">this is a title</p>
        </div>
        <div class="animation-brake-inverse animation-play-middle display-title display-title-down display-title-align-left">
            <p class="display-title-background title-font-bold title-font-middle title-font-white">this is the second title</p>
        </div>
    </div>
    !-->
    <!--
    <div class="animation-contain">
        <img class="display-background-img" src="http://img5.duitang.com/uploads/item/201112/19/20111219083341_2P55n.thumb.700_0.jpg">
        <div class="display-title display-title-very-high">
            <p class="animation-elasticity animation-play-fast title-font-white title-font-bold title-font-large">title</p>
        </div>
        <div class="animation-slide-from-top animation-play-slow display-title display-title-center-up-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background">12瓦厄齐尔se7cccdfseccdfeeerrg散打王而且你无法玩道具歌舞团我看人gsssdfcccd8890</p>
        </div>
        <div class="animation-larger animation-play-slow display-title-img display-title-center">
            <img src="http://i1.brcdn.cn/d/wallpaper/2012/02/10/91644f86fd902389_src.jpg">
        </div>
    </div>
    !-->
    <!--
    <div class="animation-contain">
        <img class="display-background-img" src="http://img5.duitang.com/uploads/item/201112/19/20111219083341_2P55n.thumb.700_0.jpg">
        <div class="animation-transparent-up animation-play-slow display-title-img display-title-up">
            <img src="http://i1.brcdn.cn/d/wallpaper/2012/02/10/91644f86fd902389_src.jpg">
        </div>
        <div class="animation-slide-from-bottom animation-play-slow display-title display-title-center-down-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background">12瓦厄齐尔se7cccdfseccdfeeerrg散打王而且你无法玩道具歌舞团我看人gsssdfcccd8890</p>
        </div>
    </div>
    !-->
    <!--
    <div class="animation-contain">
        <img class="display-background-img" src="http://img5.duitang.com/uploads/item/201112/19/20111219083341_2P55n.thumb.700_0.jpg">
        <div class="animation-slide-from-left animation-play-slow display-title-img display-title-up">
            <img src="http://i1.brcdn.cn/d/wallpaper/2012/02/10/91644f86fd902389_src.jpg">
        </div>
        <div class="animation-slide-from-bottom animation-play-slow display-title display-title-center-down-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background">12瓦厄齐尔se7cccdfseccdfeeerrg散打王而且你无法玩道具歌舞团我看人gsssdfcccd8890</p>
        </div>
    </div>
    !-->
    <!--
    <div class="animation-contain">
        <img class="display-background-img" src="http://img5.duitang.com/uploads/item/201112/19/20111219083341_2P55n.thumb.700_0.jpg">
        <div class="display-title display-title-very-high">
            <p class="animation-elasticity animation-play-fast title-font-white title-font-bold title-font-large">title</p>
        </div>
        <div class="animation-slide-from-top animation-play-slow display-title display-title-center-up-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background">12瓦厄齐尔se7cccdfseccdfeeerrg散打王而且你无法玩道具歌舞团我看人gsssdfcccd8890</p>
        </div>
        <div class="animation-slide-from-bottom animation-play-slow display-title-img display-title-center">
            <img src="http://i1.brcdn.cn/d/wallpaper/2012/02/10/91644f86fd902389_src.jpg">
        </div>
    </div>
    !-->
    <div class="animation-contain">
        <img class="display-background-img" src="http://img5.duitang.com/uploads/item/201112/19/20111219083341_2P55n.thumb.700_0.jpg">
        <div class="animation-slide-from-right animation-play-slow display-title-img display-title-up">
            <img src="http://i1.brcdn.cn/d/wallpaper/2012/02/10/91644f86fd902389_src.jpg">
        </div>
        <div class="animation-slide-from-bottom animation-play-slow display-title display-title-center-down-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background">12瓦厄齐尔se7cccdfseccdfeeerrg散打王而且你无法玩道具歌舞团我看人gsssdfcccd8890</p>
        </div>
    </div>


</body>

<script type="text/html" id="fir">
    <div class="animation-contain">
        <img class="display-background-img" src="<%= obj.background_img%>">
        <div class="display-title display-title-up display-title-align-right">
            <p class="animation-slide-from-right animation-play-fast display-title-background title-font-bold title-font-large title-font-white"><%= obj.large_title%></p>
        </div>
        <div class="animation-brake-inverse animation-play-middle display-title display-title-down display-title-align-left">
            <p class="display-title-background title-font-bold title-font-middle title-font-white"><%= obj.small-title%></p>
        </div>
    </div>
</script>

<script type="text/html" id="sec">
    <div class="animation-contain">
        <img class="display-background-img" src="<%= obj.background_img%>">
        <div class="display-title display-title-very-high">
            <p class="animation-elasticity animation-play-fast title-font-white title-font-bold title-font-large"><%= obj.title%></p>
        </div>
        <div class="animation-slide-from-top animation-play-slow display-title display-title-center-up-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background"><%= obj.paragraph%></p>
        </div>
        <div class="animation-larger animation-play-slow display-title-img display-title-center">
            <img src="<%= obj.show_img%>">
        </div>
    </div>
</script>

<script type="text/html" id="thr">
    <div class="animation-contain">
        <img class="display-background-img" src="<%= obj.background_img%>">
        <div class="animation-transparent-up animation-play-slow display-title-img display-title-up">
            <img src="<%= obj.show_img%>">
        </div>
        <div class="animation-slide-from-bottom animation-play-slow display-title display-title-center-down-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background"><%= obj.paragraph%></p>
        </div>
    </div>
</script>

<script type="text/html" id="for">
    <div class="animation-contain">
        <img class="display-background-img" src="<%= obj.background_img%>">
        <div class="animation-transparent-up animation-play-slow display-title-img display-title-up">
            <img src="<%= obj.show_img%>">
        </div>
        <div class="animation-slide-from-bottom animation-play-slow display-title display-title-center-down-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background"><%= obj.paragraph%></p>
        </div>
    </div>
</script>

<script type="text/html" id="fiv">
    <div class="animation-contain">
        <img class="display-background-img" src="<%= obj.background_img%>">
        <div class="display-title display-title-very-high">
            <p class="animation-elasticity animation-play-fast title-font-white title-font-bold title-font-large"><%= obj.title%></p>
        </div>
        <div class="animation-slide-from-top animation-play-slow display-title display-title-center-up-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background"><%= obj.paragraph%></p>
        </div>
        <div class="animation-slide-from-bottom animation-play-slow display-title-img display-title-center">
            <img src="<%= obj.show_img%>">
        </div>
    </div>
</script>

<script type="text/html" id="six">
    <div class="animation-contain">
        <img class="display-background-img" src="<%= obj.background_img%>">
        <div class="animation-slide-from-right animation-play-slow display-title-img display-title-up">
            <img src="<%= obj.show_img%>">
        </div>
        <div class="animation-slide-from-bottom animation-play-slow display-title display-title-center-down-x4">
            <p class="animation-transparent-up animation-play-slow title-font-white title-font-middle-small title-context-max-width display-title-background"><%= obj.paragraph%></p>
        </div>
    </div>
</script>

</html>